html {
	margin-top: 50px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-image: url("backgrounds/stardew_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#top_bar {
	position: fixed;
	left: 0;
	top: 0;
	height: 40px;
		
	background-color: rgba(255,255,255,.65);
    border-bottom: 1px solid rgba(220,220,220,.65);
	padding: 5px;
	
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	
	z-index: 1;
	
    display: grid;
    grid-template-columns: 95% 5%;
}

#button_div {
	width: 100%;
}

#update_button {
	float: right;
	display: inline-block;
	vertical-align: center;
	height: 100%;
}

#nav_section {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 9%);
	grid-column-gap: 1%;
	grid-template-rows: 100%;
	
	align-items: center;
	text-align: center;
}

a {
	height: 100%;
	width: 100%;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav_link {
	width: 100%;
	height: 100%;
	
    display: flex;
    align-items: center;
    justify-content: center;
	
	background-color: rgba(255,255,255,.65);
	border-radius: 10px;
	
	
}

.map {
	position: relative;
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.wrapper {
	display: inline-block;
	width: 40%;
	margin-top: 12pt;
	margin-bottom: 12pt;
	
    padding: 20px;
    background-color: rgba(255,255,255,.65);
    border-radius: 20px;
    border: 1px solid rgba(220,220,220,.65);
}

img {
	width: 100%;
	height: auto;
}

.artifact_spot {
	position: absolute;
	background-color: red;
}

.artifact_spot_hover {
	position: absolute;
	left: 200%;
	padding: 10px;
	margin-top: -15px;
	background-color: white;
	white-space: pre;
	border-radius: 5px;
	opacity: 0;
}

.fadein {
	opacity: 1;
	transition: opacity .15s linear;
}

.fadeout {
	opacity: 0;
	transition: opacity .15s linear;
}

h2, h3 {
	margin: 0;
}

#item_search_div {
	position: fixed;
	left: 0px;
	top: 50px;
	width: 20%;
	margin: 2%;
	
    padding: 20px;
    background-color: rgba(255,255,255,.65);
    border-radius: 20px;
    border: 1px solid rgba(220,220,220,.65);
}

#tracked_input {
	width: 98%;
	resize: vertical;
	height: 60pt;
	
    background-color: rgba(230, 230, 230, 0.75);
	margin-bottom: 12pt;
}

#tracked_results_list {
	display: none;
}

.bold {
	font-weight: bold;
}

li {
	text-decoration: underline;
	cursor: pointer;
}
