body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map {
	position: relative;
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.wrapper {
	display: inline-block;
	width: 40%;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

img {
	width: 100%;
	height: auto;
}

.artifact_spot {
	position: absolute;
	background-color: red;
}

.artifact_spot_hover {
	position: absolute;
	left: 20px;
	padding: 10px;
	margin-top: -15px;
	background-color: white;
	white-space: pre;
	border-radius: 5px;
	opacity: 0;
}

.fadein {
	opacity: 1;
	transition: opacity .15s linear;
}

.fadeout {
	opacity: 0;
	transition: opacity .15s linear;
}

h2, h3 {
	margin: 0;
}
